html { width: 100%;height: 100%; margin: 0px; padding: 0px; font-family: verdana; }

body { width: 100%; height: 100%; margin: 0px; padding: 0px; -webkit-backface-visibility: hidden; }

#wrapper {
	width: 100%; height: 100%;margin: 0px; padding: 0px;
	background: gray url(../images/ParkMap.jpg) no-repeat center -700px;overflow:auto;
	}
ul, li{ margin: 0; padding: 0; list-style: none;}

figure {
	position: relative;
	width:100%;
	height:100%;
	/*
	margin-left:auto;
	margin-right: auto;
	*/
	margin:0px;
	padding: 0px;
	box-shadow: #373737 3px 3px 3px;
	/* text-shadow: #d4d4d4 1px 1px 1px; */
	/*background: ;*/
	background-color: rgba(254,255,255,0.26);
}

.stageContents {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	/*
	margin-top: -15px;	
	*/
}

.credits {
	width: 100%;
	height: 100%;
	background: #000;
}

.creditspage {
	width: 80%;
	height: 100%;
	margin: auto;
	padding: 100px;
	color: white;
	text-shadow: #000;
	text-align: center;
}

.creditspage h1 {
	font-size: 40pt;
	font-family: sans-serif;
	text-align: center;
}

.creditspage p {
	font-size: xx-large;
	font-family: sans-serif;
	text-align: justify;
}

.corpSites {
	font-size: large;
	font-family: sans-serif;
	text-align: justify;
	line-height: 8px;
}


nav {
	position: absolute;
    top: 0px;
    right: 0px;
	display: block;
	width: auto;
	height: auto;
	text-align: center;
	vertical-align: middle;
	padding: 2px;
    padding-bottom: 0px;
	margin: 0;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
    overflow: hidden;
    z-index:1000;
}

.launch {
	display: block;
	width: 175px;
	height: 175px;
	margin-left:auto;
	margin-right:auto;
	background: transparent url(../images/JAStart.png) no-repeat center center;
	color:#fff;
	text-indent: -5000px;
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
	padding:0px;
	padding-top: 65%;
	opacity: 1;
	
}
/* ----------------------------------------------------------------------------------------------------------------------------
== ICONS STYLES
** ---------------------------------------------------------------------------------------------------------------------------- */

nav ul {
    padding:0;
    margin:0;
}

nav ul li {

    display: inline-block;
    overflow:hidden;
    list-style:none;
    width: auto;
    height: auto;
    background: transparent;
    text-align: center;
    padding: 0px;
    margin: 1px;
    text-shadow: 0 1px 0 #fff;
}


nav ul li a {
    display:block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    vertical-align: text-bottom;
}


/* COMMENT
------------------------------------------------------------------------------------------------------------------------------- */

.comment a:before {
    width:16px;
    height:10px;
    margin-top:-8px;
    /* css3 */
    border-radius:2px;
}

.comment a:after {
    left:8px;
    border:2px solid transparent;
    border-top-color:#c55500;
    border-left-color:#c55500;
    margin-top:2px;
    background:transparent;
}

.comment a:hover:after,
.comment a:focus:after,
.comment a:active:after {
    border-top-color:#730800;
    border-left-color:#730800;
}          

/* begin css modal box styles */
div.jobToolsSplit1 {
    display: block;
    width: 38%;
    height: 100px;
    background: #C1272D;
    color: white;
    font-size: small;
    font-weight: bolder;
    margin: 10px;
    padding: 5px;
    border-radius: 7px;
    float:left;
}

div.jobToolsSplit {
    display: block;
    width: 38%;
    height: 100px;
    background: #006837;
    color: white;
    font-weight: bolder;
    font-size: small;
    margin: 10px;
    padding: 5px;
    border-radius: 7px;
    float: left;
}
/* Container */
.modal {

/* Overlay page content */
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
padding: 0px;
margin: 0px;
background: rgba(0,0,0,0.5);
z-index: 10000;

/* Transition opacity on open */
-webkit-transition: opacity 500ms ease-in;
-moz-transition: opacity 500ms ease-in;
transition: opacity 500ms ease-in;

/* Hide for now */
opacity: 0;
pointer-events: none;
-webkit-transform: translateZ(0);
}

/* Show modal */
.modal:target {
opacity: 1;
pointer-events: auto;
/* at time of writing (Feb 2012), pointer-events not supported by Opera or IE */
}

/* Content */
.modal > div {
width: 95%;
height: 95%;
background: #fff;
position: relative;
margin: 0% auto;

/* Default minimise animation */
-webkit-animation: minimise 500ms linear;
-moz-animation: minimise 500ms linear;

/* Prettify */
padding: 30px;
border-radius: 7px;
box-shadow: 0 3px 20px rgba(0,0,0,0.9);
background: #fff;
background: -moz-linear-gradient(#fff, #ccc);
background: -webkit-linear-gradient(#fff, #ccc);
background: -o-linear-gradient(#fff, #ccc);
text-shadow: 0 1px 0 #fff;
}

/* Override animation on modal open */
.modal:target > div {
-webkit-animation-name: bounce;
-moz-animation-name: bounce;
}

.modal h2 {
font-size: 36px;
padding: 0 0 20px;
}

@-webkit-keyframes bounce {
  0% {
   -webkit-transform: scale3d(0.1,0.1,1);
   box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  }
  55% {
   -webkit-transform: scale3d(1.08,1.08,1);
   box-shadow: 0 10px 20px rgba(0,0,0,0);
  }
  75% {
   -webkit-transform: scale3d(0.95,0.95,1);
   box-shadow: 0 0 20px rgba(0,0,0,0.9);
  }
  100% {
   -webkit-transform: scale3d(1,1,1);
   box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  }

}

@-webkit-keyframes minimise {
  0% {
   -webkit-transform: scale3d(1,1,1);
  }
  100% {
   -webkit-transform: scale3d(0.1,0.1,1);
  }
}

@-moz-keyframes bounce {
  0% {
   -moz-transform: scale3d(0.1,0.1,1);
   box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  }
  55% {
   -moz-transform: scale3d(1.08,1.08,1);
   box-shadow: 0 10px 20px rgba(0,0,0,0);
  }
  75% {
   -moz-transform: scale3d(0.95,0.95,1);
   box-shadow: 0 0 20px rgba(0,0,0,0.9);
  }
  100% {
   -moz-transform: scale3d(1,1,1);
   box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  }
}

@-moz-keyframes minimise {
  0% {
   -moz-transform: scale3d(1,1,1);
  }
  100% {
   -moz-transform: scale3d(0.1,0.1,1);
  }
}

/* Modal close link */
.modal a[href="#close"] {
position: absolute;
right: 0;
top: 0;
color: transparent;
}

/* Reset native styles */
.modal a[href="#close"]:focus {
outline: none;
}

/* Create close button */
.modal a[href="#close"]:after {
content: 'X';
display: block;

/* Position */
position: absolute;
right: 10px;
top: 3px;
width: 1.5em;
padding: 1px 1px 1px 2px;

/* Style */
text-decoration: none;
text-shadow: none;
text-align: center;
font-weight: bold;
background: #000;
color: #fff;
border: 3px solid #fff;
border-radius: 20px;
box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.modal a[href="#close"]:focus:after,
.modal a[href="#close"]:hover:after {
-webkit-transform: scale(1.1,1.1);
-moz-transform: scale(1.1,1.1);
}

.modal a[href="#close"]:focus:after {
outline: 1px solid #000;
}

/* Open modal */
a.openModal {
}

#example2 {
	padding: 0px;
	margin: 0px;
	background: gray url(../images/pmHRfde.jpg) no-repeat center top;
	-webkit-background-size: cover;
	background-size: cover;
}

#example2 div.chaoticCanyon {
	position: relative;
	/*background: gray url(../images/CCmap_Active.JPG) no-repeat center top;*/
	background: gray url(../images/chaoticCanyonSceneMap.png) no-repeat center 0px;
	-webkit-background-size: cover;
	background-size: cover;
}

#example2 div.ragingRapids {
	position: relative;
	/*background: gray url(../images/CCmap_Active.JPG) no-repeat center top;*/
	background: gray url(../images/ragingRapidsSceneMap.png) no-repeat center 0px;
	-webkit-background-size: cover;
	background-size: cover;
}

#example2 div.musicVenue {
	position: relative;
	/*background: gray url(../images/CCmap_Active.JPG) no-repeat center top;*/
	background: gray url(../images/musicVenueSceneMap.png) no-repeat center 0px;
	-webkit-background-size: cover;
	background-size: cover;
}

#example2 div.adminOffice {
	position: relative;
	/*background: gray url(../images/CCmap_Active.JPG) no-repeat center top;*/
	background: gray url(../images/adminOfficeSceneMap.png) no-repeat center 0px;
	-webkit-background-size: cover;
	background-size: cover;
}

#example2 div h2 {
	position: absolute;
	top: 10px;
	left: 10px;
	font-weight: bold;
	font-size: large;
	color: #f3f9ff;
	padding-left: 10px;
	padding: 0px;
	text-shadow: #838383 1px 1px 1px;
}



#example2 div p {
	position: absolute;
	top: 10px;
	left: 350px;
	font-weight: bold;
	font-size: x-large;
	color: #f3f9ff;
	padding: 10px;
	background: rgba(68,170,105,0.75);
	text-shadow: #838383 1px 1px 1px;
	border-radius: 8px;
	box-shadow: #000 1px 1px 1px;
}

/* end css modal box styles */

/* begin nav slider styles */

/* !CSS RESET */
/* prefix declarations */
/* THEME STYLES */
#sequence-theme {
  color: white;
  font-size: 0.625em;
  font-family: sans-serif;
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  max-width: 1280px;
  -webkit-backface-visibility: hidden;
  /* prevent graphical glitches in WebKit browsers when using transitions */
}
#sequence-theme #sequence {
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  max-width: 1280px;
  width: 100%;
  background-color: #D9D9D9;
  background-image: url("../images/bg-sequence.jpg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
}

#sequence-theme .next,
#sequence-theme .prev {
  color: white;
  cursor: pointer;
  display: inline;
  font-weight: bold;
  padding: 0px 0px;
  position: absolute;
  top: 40%;
  z-index: 1000;
  height: 75px;
  margin-top: -47.5px;
}
#sequence-theme .pause {
  bottom: 0;
  cursor: pointer;
  position: absolute;
  z-index: 1000;
}
#sequence-theme .paused {
  opacity: 0.3;
}
#sequence-theme .prev {
  left: 1%;
}
#sequence-theme .next {
  right: 1%;
}
#sequence-theme .prev img,
#sequence-theme .next img {
  height: 100%;
  width: auto;
}
#sequence-theme #sequence-preloader {
  background: #d9d9d9;
}
#sequence-theme .nav {
  bottom: 2px;
  display: block;
  width: 100%;
  right: 2px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  z-index: 90000;
}

/*
#sequence-theme .nav li {
  display: block;
  height: 140px;
  float: left;
}

#sequence-theme .nav li:nth-child(4) {
  background: gray;
  color: black;
  font-weight: bold;
  font-size: large;
  width: auto;
  height: 88px;
  cursor: pointer;
  padding: 20px;
  opacity: 0.5;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
}
*/


#sequence-theme .nav li {
  display: block;
  background: url(../images/uiButtn.png);
  font-weight: bolder;
  font-size: small;
  width: 22%;
  height: 20px;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  color: #079948;
  margin: 1px;
  float:left;
  opacity: 0.5;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
}

#sequence-theme .nav li.active {
  display: block;
  background: url(../images/uiButtn-active.png);
  color: #079948;
  font-weight: bolder;
  font-size: small;
  width: 22%;
  height: 20px;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  margin: 1px;
  float:left;
  opacity: 1;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
}

#sequence-theme #sequence ul {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0px;
  list-style: none;
}


#sequence-theme #sequence li {
  height: 100%;
  position: absolute;
  top: 0%;
  width: 100%;
  padding: 0px;
}

#sequence-theme #sequence li > * {
  position: absolute;
}
#sequence-theme #sequence li {
  height: 90%;
  padding: 0;
  margin: 0;
}
#sequence-theme #sequence h2 {
  color: black;
  font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

#sequence-theme #sequence h3 {
  font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

#sequence-theme .next,
#sequence-theme .prev {
  position: absolute;
  opacity: 0.6;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
}
#sequence-theme .next:hover,
#sequence-theme .prev:hover {
  opacity: 1;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
}
#sequence-theme .title {
  font-size: 2.4em;
  left: 10%;
  width: 100%;
  opacity: 0;
  top: 5%;
  z-index: 50;
}
#sequence-theme .animate-in .title {
  left: 3%;
  opacity: 1;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
}
#sequence-theme .animate-out .title {
  left: 105%;
  opacity: 0;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
}
#sequence-theme .subtitle {
  color: black;
  font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
  font-size: .8;
  left: 5%;
  width: 90%;
  opacity: 0;
  top: 15%;
}
#sequence-theme .animate-in .subtitle {
  left: 5%;
  opacity: 1;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
}
#sequence-theme .animate-out .subtitle {
  left: 65%;
  opacity: 0;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
}
#sequence-theme .model {
  left: -15%;
  top: 20%;
  opacity: 0;
  position: relative;
  display: block;
  /* height: auto !important;*/
  height: 90%;
  /*max-height: 568px !important; */
  width: 90%;
  min-width: 225px;
  /*prevents the model from shrinking when the browser is resized*/
  /*max-width: 380px; */
  color:black;
  /*background: whitesmoke;*/
}

#sequence-theme .model:nth-child(4) {
  left: -15%;
  bottom: 0%;
  opacity: 0;
  position: relative;
  height: auto !important;
  max-height: 568px !important;
  width: 30%;
  min-width: 225px;
  /*prevents the model from shrinking when the browser is resized*/
  max-width: 380px;
  background: ivory;
  border: 2px black dotted;
  /*-webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(0px);*/
  transform: rotate(4deg) scale(1) skew(1deg) translate(0px);
}


#sequence-theme .animate-in .model {
  left: 7%;
  opacity: 1;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
}
#sequence-theme .animate-out .model {
  left: 15%;
  opacity: 0;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
}

@media only screen and (min-width: 1224px) {
  /*only display the hover effect on desktops/laptops*/
	#sequence-theme .nav li img:hover {
    opacity: 1;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
  }
}
@media only screen and (min-width: 992px) {
	#sequence-theme .title {
    width: 100%;
  }
}
@media only screen and (max-width: 838px) {
	#sequence-theme {
    height: 550px;
  }
  #sequence-theme .model {
    max-height: 530px !important;
    width: auto;
  }
}
@media only screen and (max-width: 768px) {
  #sequence-theme {
    height: 500px;
  }
  #sequence-theme .title {
    font-size: 2.8em;
  }
  #sequence-theme .next,
  #sequence-theme .prev {
    height: 60px;
    margin-top: -40px;
  }
  #sequence-theme .model {
    max-height: 480px !important;
    width: auto;
  }
}
/* end nav slider styles */

.clear{ clear: both; }
#container{text-align: center;}
#Stage{margin: 0 auto;}
/* Scenes */
.scene{ -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
.chaoticCanyonScene{background: url(../images/ChaoticCanyonDndBG.jpg) no-repeat fixed center center #FFFFFF; }
.ragingRapidsScene{background: url(../images/ragingrapids.png) no-repeat fixed center center #FFFFFF;}
/* Video */
.video-wrapper{ position: fixed;padding: 0px; margin: 0px; width: 100%; height: 100%;}
.video-overlay { background-color:#000; opacity: .6; display: block;height: 100%;left: 0;position: absolute; top: 0; width: 100%; display: none; }
.replay{width: 128px; height: 128px; margin: 300px auto 0; vertical-align: middle; background-image:url(../images/replay.png); }
video { margin: 0px; margin: 0px; padding: 0px; width: 100%; height: 100%;}
/* Audio */
.replay-audio {display: none; }
/* Captions */

.caption{ position: absolute;bottom: 0;width: 100%; height: 75px; padding: 15px;background-color: #000; color:#fff; opacity: .9; z-index: 2;text-align: center; font-size: 1.3em; display: none;}
.caption ol{list-style: none;  margin: 0 auto; position: relative; width: 700px; vertical-align: middle; }
.caption li{ position: absolute; padding: 0; margin: 15px 0 0; display: none; text-align: center; width: 700px;}
.captionsBtn{width:101px; height:118px; background-image: url(../images/noCap-on.svg); background-repeat: no-repeat; }
.captionsBtn.off{background-image: url(../images/noCap-on.svg));}
.captionsBtn.on{background-image: url(../images/caps-on.svg);}
/*Button*/
.link {
	-moz-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	box-shadow:inset 0px 1px 0px 0px #cae3fc;
	  background: black url(../images/uiButtn.png);
	  -moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #469df5;
	display:inline-block;
	color:#ffffff;
	font-size:20px;
	font-weight:bold;
	padding:10px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #000;
	width: auto;
	text-align: center;
	margin: 10px;
	white-space: nowrap;
}
a.link:link, a.link:visited, a.link:hover {color:#fff; text-decoration: none;}
.link:hover {
	background: url(../images/uiButtn-active.png);
}.link:active {
	position:relative;
	top: 1px;
}
.navButtons{position: absolute; bottom: 125px; right: 383px; z-index: 50; display: none; }
.navButtons li{ display: inline-block;}

/* Quiz */

.score-tracker{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #000), color-stop(1, #333) );
	background:-moz-linear-gradient( center top, #000 5%, #333 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000', endColorstr='#333');
	background-color:#000;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #000;
	display:inline-block;
	color:#ffffff;
	font-size:24px;
	font-weight:bold;
	padding:10px 24px;
	text-decoration:none;
	text-shadow:none;
	width: auto;
	text-align: center;
	margin: 10px;
	margin-bottom: 70px;
	float: left;
}
.quiz{ margin: 0 auto; padding: 20px; text-align: left; text-indent: 0;} 
.answer, .accepted{line-height: 20px;font-size: 15px; margin: 0; white-space: normal; padding: 0; vertical-align: bottom;}
.answer{margin-left:100px; }
.questions,.answered .choice{width: 810px; }
.questions, .answered .feedback{
		float: left; 
		font-family: 'Architect';
		line-height: 20px;
		position: relative;
        border: 1px solid #d2d2d2;
        background: #f4f7d8;
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#9A9AEA), color-stop(4%, #F7F6B4)) 0 0;
        background: -webkit-linear-gradient(top, #9A9AEA 0%, #F7F6B4 8%) 0 2px;
        background: -moz-linear-gradient(top, #9A9AEA 0%, #F7F6B4 8%) 0 2px;
        background: -ms-linear-gradient(top, #9A9AEA 0%, #F7F6B4 8%) 0 2px;
        background: -o-linear-gradient(top, #9A9AEA 0%, #F7F6B4 8%) 0 2px;
        background: linear-gradient(top, #9A9AEA 0%, #F7F6B4 8%) 0 2px;
        -webkit-background-size: 100% 20px;
        -moz-background-size: 100% 20px;
        -ms-background-size: 100% 20px;
        -o-background-size: 100% 20px;
        background-size: 100% 20px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
        box-shadow: 0 1px 2px rgba(0,0,0,0.07);
        }
        
.questions::before, .answered .feedback::before{
        content: '';
        position: absolute;
        width: 10px;
        top: 60px;
        left: 100px;
        bottom: 0;
        border: 1px solid;
        border-color: transparent #F9B6B6;
        }
.questions h1, .answered h1{
		background:url(../images/notepad-top.png); 
		height:42px; 
		-webkit-box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.65);
		-moz-box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.65); 
		box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.65);
		color: #fff; text-align: center; padding: 10px 0;
		font-family: 'Desyrel';
		line-height: 40px;
		}
.choice{height: 100%;float: left;}
.a, .b, .c, .d{ background-repeat:no-repeat; height: 46px;width: 63px; margin:7px 40px 7px 0;} 
.a{ background-image: url(../images/A.png); } 
.b{ background-image: url(../images/B.png);} 
.c{background-image: url(../images/C.png);} 
.d{background-image: url(../images/D.png);} 
.answer-box{width: 150px;float: right; padding: 40px 0 40px 20px;}
.answer-box.answered {width: 100%;float: none; padding: 0;}
.answered .a, .answered .b, .answered .c, .answered .d{ display: none;} 
.quiz-coach{background: url("../images/New-Coach.png") no-repeat scroll 50% 0 transparent;width:150px; height:468px; }
.review { width: 80%; height: 100%; opacity: .9; margin: 0 auto; background: #fff; }
.response{ padding:21px 20px 18px; border-bottom: 2px solid #9A9AEA;  } 
.response span{ display: none; }  
.points {display: none;}
.feedback{display: none;} 
.answered .quiz-coach{float: right;}
.answered p{padding: 24px 30px 30px 120px;}
.answered .choice{ padding: 0;}
.clear{ clear: both; }
.ui-draggable-dragging{z-index: 1000;}
.activity{text-align: center;}
.activity h1{margin-top: -50px;}
/* Fonts */
@font-face {
    font-family: 'Architect';
    src: url('../fonts/ArchitectsDaughter-webfont.ttf') format('truetype'),
         url('../fonts/ArchitectsDaughter-webfont.svg#Architect') format('svg'),
         url('../fonts/ArchitectsDaughter-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Desyrel';
    src: url('../fonts/desyrel-webfont.woff') format('woff'),
         url('../fonts/desyrel-webfont.ttf') format('truetype'),
         url('../fonts/desyrel-webfont.svg#Desyrel') format('svg');
    font-weight: normal;
    font-style: normal;

}